lib-cov
lcov.info
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.exe

pids
logs
results
build
.grunt
.idea

.project
*/node-log.log
logs/*.log
!.gitignore
node_modules/*
.project
.settings/
**/*.svn
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
!node_modules/README
node_modules
config.js
test