<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/" enctype="multipart/form-data">
    	<input type="file" id="file" name="file">
    	<input type="submit">
    </form>
<script type="text/javascript">
	var form = new FormData();
	var file = document.getElementById('file');
	var xhr = new XMLHttpRequest();

	form.append('username', 'jianxin');
	form.append('userpass', '123456');
	file.onchange = function(){
		form.append('file', file.files[0]);
		console.log(file.files[0])
		xhr.open('POST', '/');
		xhr.send(form);
	}
</script>
  </body>
</html>
