html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,section,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font:inherit;word-wrap:break-word;word-break:normal;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}html{-webkit-text-size-adjust:none;font-family:"Microsoft Yahei","微软雅黑",Tahoma,Arial,Helvetica,STHeiti;}body{line-height:1;overflow-x:hidden;overflow-y:auto;font-size: 12px;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}h1,h2,h3,h4,h5,h6{font-weight:bold;}.clearfix{zoom:1;}.clearfix:after{content:".";height:0;display:block;clear:both;visibility:hidden;}.none{display:none;}strong{font-weight:bold;}.txtcenter{text-align:center;}a{color:#000;-webkit-transition:color .1s linear;-moz-transition:color .1s linear;-o-transition:color .1s linear;-ms-transition:color .1s linear;transition:color .1s linear;text-decoration:none;}a:hover{color:#000;}a img{border:none;}a img{vertical-align:bottom;}a img:hover{filter:alpha(opacity=80);-moz-opacity:0.8;-khtml-opacity:0.8;opacity:0.8;}

.selectDate_input{
	width: 147px; height: 28px;
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background: #fff;
}
.selectDate_button{
	display: inline-block;
	width: 30px; height: 30px;
	border: 1px solid #ccc; border-left: 0;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	background: url(btn.png) center center no-repeat;
	vertical-align: middle;
	cursor: pointer;
}
.selectDate{
	position: relative;
}

.dateDiv{
    position: absolute;
    left: -1px;
    bottom: -160px;
    height: 160px;
    width: 244px;
    background-color: #fff;
    z-index: 5000;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #e7e7e7;
}

.clearfix:after {
    content: "";
    display: table;
}
.ul_year{
    float: left;
    width: 90px;
    height: 160px;
    overflow: auto;
}

.ul_year>li{
    width: 72px;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    background-color: #fff;
    color: #333;
    text-align: center;
}

.ul_year>li:hover{
	background-color: #f4f4f4;
}
.ul_year>li.on{
	background-color: #ec7467;
    color: #fff;
}

.ul_month{
	float: left;
	word-wrap: normal;
    padding: 20px 0 15px 15px;
    background-color: #fff;
    width: 136px;
}
.ul_month>li{
    float: left;
    cursor: pointer;
    width: 33%;
    height: 22px;
    line-height: 22px;
    color: #333;
    background-color: #fff;
    margin: 0 0 10px;
    text-align: center;;
    border-radius: 5px;
}

.ul_month>li:hover{
	background-color: #f4f4f4;
}
.ul_month>li.on{
	background-color: #ec7467;
    color: #fff;
}